
.env
.streamlit/secrets.toml
__pycache__/
*.py[cod]
.ipynb_checkpoints
.streamlit/config.toml
*.tmp
*.tsv
*.tfevents
*catboost_training.json
*clasificacion.csv
*deteccion.csv
*clientes.csv
*.txt
*.mp4

